<div class = "sign_in_background"></div> 

<div class = "sign_in">
<% provide(:title, "Sign in")%>
<h1> Sign in</h1>
	<div class="span6 offset3">
		<%= form_for(:session, url: sessions_path) do |f| %>
		
	        <%= f.label :email%>
	        <%= f.text_field :email%>

	        <%= f.label :password%>
	        <%= f.password_field :password%>

	        <div class = "submit">
	        	<span> New User? <%=link_to "Sign Up Now!", signup_path %></span>
	        	<%= f.submit "Sign in", class: "btn btn-large btn-primary"%>
	        </div>

	    <% end %>
		
		
        
	</div>
</div>