<% provide(:title, "All  Users")%>
<h1>All Groups</h1>



<ul class="groups">
<li>Default Group:
<% @groups.each do |group|%>
<li><%= group.group_name%></li>
<%end%>
</li>
</ul>



<h1>All Users</h1>

<%= will_paginate %>

<ul class="users">
	<!-- should change the CSS to set the layout -->
	<!-- show user each line and paginate, see listing 9.31 in book -->
	<% @users.each do |user| %>
	<li>
		<%= gravatar_for user %>
		<%= link_to user.name, publichome_user_path(user) %>
		<% if current_user.admin? # && current_user?(user) %>
			<%= link_to "delete", user, method: :delete, confirm: "You Sure to Delete" %>
		<% end %>
	</li> 
	<% end %>
</ul>
<%= will_paginate%> 