<% provide(:title, "User Private")%>
<h1>Private User Home</h1>

<%= render 'shared/user_info'%>

<p>
	My Groups:
	<li>
	
	Number of groups: <%= @user.groups.count%>
	<% @user.groups.each do |joined_group|%>
	<br><%= joined_group.group_name%></br>
	has microposts:
	<br><%= joined_group.microposts.count%></br>
	<%= render joined_group.microposts %>
	<%end%>
	
	</li>
	
	My Posts:
	<!-- need to be modified, post by user can be seen in both public and private  -->
  	<div class="span 8">
	<% if @user.microposts.any? %>
		<h3>Microposts (<%= @user.microposts.count %>)</h3>
		<ol class="microposts">
			<%= render @user.microposts %>
		</ol>
	<% end %>
	
	<!--or  render 'shared/feed' --> 
 	</div>
 <!-- category as group  -->
 	
</p>
<!-- <%= render 'shared/micropost_form'%> -->