<% provide(:title, "Profile Setting")%>
<h1>Update your Profile Setting</h1>

<div class="row">
	<div class="span6 offset3"> 		
			Select Your Preference Default Group
			
<br>
		<% for i in 0..3 %>
			<%= @groups[i].group_name%>
			<% if current_user.joining?(@groups[i]) %>
			
				<%= form_for(current_user.relationships.find_by_joined_id(@groups[i]), html:{method: :delete}) do |f| %>
			
				<%= f.submit "Unjoin", class: "btn btn-large" %>
				<% end %>
			<% else %>
				<%= form_for(current_user.relationships.build(joined_id: @groups[i].id)) do |f| %>
				<div><%= f.hidden_field :joined_id %></div>
				<%= f.submit "Join",class:"btn btn-large btn-primary"  %>
				<% end %>
			<% end %>
		<% end%>
</br>		
	</div>
</div>