<div class = "common_background"></div> 

<% provide(:title, "User Public")%>
<h3>Public User Home</h3>	

<div class = "common_area">
<p>
	<br><%= @user.name%></br>
	Has <%= @user.groups.count%>  of groups:
	<% @user.groups.each do |joined_group|%>
	<li>
	<%= joined_group.group_name%>
	<%end%>
	</li>
</p>	
	Has <%= @user.microposts.count%> Posts:
	<% @user.microposts.each do |post|%>
	<li>
		Group: [<%= post.group_name %>]
		Title: <%= post.title %>
		Cotent: <%= post.content %>
		Posted: <%= time_ago_in_words(post.created_at) %> ago.
		<% if current_user?(post.user)%>
			<%= link_to "delete", post, method: :delete, confirm: "You sure?", title: post.content %>
		<% end %>	
	</li>	
	<%end%>
	</li>
</div>	
