<% provide(:title, @user.name)%>
<div class = "info row">
	<aside class = "span4">
		<section>
			<%= render 'shared/user_info'%>
			<h5> <%= @user.email %></h5>
		</section>
	</aside>
</div>

My Groups:
<%= form_for(@user) do |f|%>
<%= f.collection_select :current_group, current_user.groups.all, :id, :group_name, {},{:onChange => 'this.form.submit();'} %>
<% end %>

<div class="mail_main_area">
	<ul class="nav nav-pills " id="ul_mail_nav">
		<li class="active" id="li_inbox">
			<a href="#inbox" data-toggle="pill">Inbox</a>
		</li>
		<li id="li_sent">
			<a href="#sentbox" data-toggle="pill">Sent</a>
		</li>
		<li id="li_compose"> 
			<a href="#compose" data-toggle="pill">Compose</a>
		</li>
	</ul>
	<form class="navbar-form mail_search" role="search">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Search">
		</div>
		<button type="submit" class="btn btn-primary">
			Search
		</button>
	</form>
	<div class="divider"></div>
	<div class="mail_display_area tab-content">
		<!-- if 'inbox' is clicked then render inbox-->
		<div class="tab-pane active" id="inbox"><%= render 'user_public/inbox'%></div>
		<!-- if 'sent' is clicked then render sent-->
		<div class="tab-pane" id="sentbox"><%= render 'user_public/sentbox'%></div>
		<!-- if 'compose' is clicked then render compose-->
		<div class="tab-pane" id="compose"><%= render 'user_public/compose'%></div>	
	</div>

</div>


