<%= form_for(@micropost) do |f|%>
	<%= render 'error/error_messages', object: @micropost%>
	
	<%= f.submit "Post", class: "btn btn-large btn-primary" %>
	<div class="filed">
		<%= f.collection_select :group_id, current_user.groups.all, :id, :group_name %>
		<%= f.text_area :content, placeholder: "Compose new micropost" %>
	    <%= f.label :group_id %>
	    
		<!-- <%= f.text_area :group_name, placeholder: "Add the group" %> -->
	</div>
	
<% end %>
