<div class="mail_left_part">
<div class="list-group mail_list" id = "inbox_group_mail_list">
	<!--  use a for loop here to display each mail briefly -->
	<% @inbox_microposts.each do |micropost| %>
	 <%= link_to '#inbox_mail'+micropost.id.to_s, :class=>"list-group-item", 
	 :id=>"inbox_mail#"+micropost.id.to_s, :onclick=>"inbox_mail_select(this.id, this.className)" do %>
    <h4 class="list-group-item-heading"><%= micropost.title %></h4>	
    
  <%end%>
  <% end %> 
 </div>
 <ul class="pagination inbox_pagination">
 <%= will_paginate  @inbox_microposts, :container => false, :inner_window => '1', :outer_window => '1', :previous_label => '<<', :next_label => '>>' %>
 </ul>
</div>

<div class="main_content" id="inbox_main_content">	
<% @inbox_microposts.each do |micropost| %>
    <%= label_tag micropost.id.to_s, :class=>"is_not_display", :id=>"inbox_mail_content#"+micropost.id.to_s do%>
	<%= link_to micropost.user.name, publichome_user_path(micropost.user) %>
	<%= link_to gravatar_for(micropost.user), micropost.user %>
	<%= mail_to micropost.user.email%>
	<span class="group_name">[<%= micropost.group_name %>]</span>
	<span class="content"><%= micropost.content %></span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <%end%>
<% end %>
</div>
