<div class="list-group mail_list">
	<!--  use a for loop here to display each mail briefly -->
	<% @current_group.microposts.each do |micropost| %>
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading"><%= micropost.title %></h4>	
    <p class="list-group-item-text">...</p>
  </a>
  <% end %>
 
</div>

<div class="main_content">
	
	
	Number of groups: <%= @user.groups.count%>
	<% @user.groups.each do |joined_group|%>
	<br><%= joined_group.group_name%></br>
	has microposts:
	<br><%= joined_group.microposts.count%></br>
	<%= render joined_group.microposts %>
	<%end%>
</div>
