<header class = "navbar navbar-fixed-top navbar-inverse">
	<div class="collapse navbar-collapse">
		<div class="container">
			<%if not signed_in? %>
			<%= link_to image_tag("logo.jpg"), '/home', id: "logo" %>
			<%else %>
			<%= link_to image_tag("logo.jpg"), current_user, id: "logo" %>
			<%end %>
			<ul class="nav navbar-nav navbar-right">
				<%if not signed_in? %>
				<li>
					<%= link_to "Home", root_path%>
				</li>
				<li>
					<%= link_to "Sign in",signin_path %>
				</li>
				<%else %>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#"> My Profile <span class="caret"></span> </a>
					<ul class="dropdown-menu">
						<li>
							<%= link_to "Private", current_user%>
						</li>
						<li>
							<%= link_to "Public", publichome_user_path(current_user)%>
						</li>
					</ul>
				</li>

				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#"> All Information <span class="caret"></span> </a>
					<ul class="dropdown-menu">
						<li>
							<%= link_to "Posts", allinfo_path %>
						</li>
						<li>
							<%= link_to "Users", users_path %>
						</li>
						<li>
							<%= link_to "Groups", allgroup_path %>
						</li>
					</ul>
				</li>

				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#"> Settings <span class="caret"></span> </a>

					<ul class="dropdown-menu">
						<li>
							<%= link_to "Profile", profile_user_path(current_user) %>
						</li>
						<li>
							<%= link_to "Account", edit_user_path(current_user) %>
						</li>
					</ul>
				</li>
				<li>
					<%= link_to "Sign Out", signout_path, method: "delete"%>
				</li>
				<%end %>
				<li>
					<%= link_to "Help", '/help'%>
				</li>
			</ul>
		</div>
	</div>
</header>