<header class = "navbar navbar-fixed-top">
  <div class = "navbar-inner">
    <div class="container">
	  <%if not signed_in? %>
      <%= link_to image_tag("logo.jpg"), root_path, id: "logo" %>
	  <%else %>
	   <%= link_to image_tag("logo.jpg"), current_user, id: "logo" %>
	  <%end %>
      <nav>
        <ul class="nav pull-right">
		  <%if not signed_in? %>
          <li><%= link_to "Home", root_path%></li>
		  <li> <%= link_to "Sign in",signin_path %></li>
		  <%else %>
		  <li><%= link_to "User Public", current_user%></li>
		  <li><%= link_to "Post", post_path%></li>
		  <li><%= link_to "User Private", privatehome_user_path(current_user)%></li>
		  <!-- Implement the drop down not work-->		  
		  <li><%= link_to "All Info", allinfo_path %></li>
		  <li><%= link_to "Chosen Info", choseninfo_path %></li>
		  <li><%= link_to "All User", users_path %></li>
		  <li><%= link_to "Profile Setting", profile_user_path(current_user) %></li>
		  <li><%= link_to "Account Setting", edit_user_path(current_user) %></li>
		  <li><%= link_to "Sign Out", signout_path, method: "delete"%></li>		
		  <%end %>
		  <li><%= link_to "Help", '/help'%></li>
        </ul>
      </nav>
    </div>
  </div>
</header>